@font-face {
    font-family: 'iconfont';
    src: url('../iconfont/iconfont.ttf?t=1635858700112') format('truetype');
}

@font-face {
    font-family: 'cyberpunk';
    src: url('../source/fonts/Cyberpunk-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'ruixian';
    src: url('../source/fonts/RuiZiRuiXianNuFangHeiJian1-0-1.ttf');
}

.musicshower {
    width: 100%;
    height: 100%;
}

.musicshower iframe {

}

/*@font-face {*/
/*    font-family: '';*/
/*    src: url('');*/
/*}*/
@font-face {
    font-family: 'eng';
    src: url('../source/fonts/Corna-3.ttf');
}

.iconfont {
    font-family: "iconfont" !important;
    /*font-size: 16px;*/
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;

}

body {
    font-family: ruixian !important;
    /*font-weight: 600 !important;*/
    /*background-color: #0e0f25;*/
    /*background: url("https://pic3.zhimg.com/v2-a31ab493692b90d88a36a63a90ceb9f2_r.jpg") no-repeat fixed ;*/
    background: url("../source/images/cyber/Cyberpunk (3).png") no-repeat fixed;
    background-size: 100% 100%;
    text-align: center;

}

.white {
    color: #ffffff;
    text-shadow: 0 0 30px;
}

.pink {
    color: #ff5edb;
    text-shadow: 0 0 30px;
}

body > audio {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 250px;
    transition: all 0.5s 2s;
}

body .banner {
    position: fixed;
    top: 140px;
    width: 250px;
    text-align: center;
    font-size: 80px;
    color: #ff5edb;
    text-shadow: #ff5edb 0 0 30px;
    transition: font-size 1s;
}

#left_banner {
    left: 20px;
}

#right_banner {
    right: 20px;
}

#left_banner:hover, #right_banner:hover {
    font-size: 160px;
    transition: all 4s;
}

.header {
    z-index: 1;
    position: fixed;
    width: 2025px;
    margin: 0 auto;
    top: 0;
    left: 0;
    height: 100px;
    background: #0e0f25;
    line-height: 100px;

}

.header #cyber {
    position: absolute;
    top: 0;
    left: 160px;
    color: #0e0f25;
    height: 100px;
    width: 200px;
    text-align: center;
    font-size: 35px;

}

.header > span {
    width: 50px;
    height: 100px;
    margin-left: 100px;
    float: left;
    color: #f5237c;
    font-size: 60px;
    margin-right: 150px;
    transition: width 0.5s;
}


/*.header >span:hover .header #cyber{*/
/*    padding-right: 60px;*/
/*    color: #ffffff;*/
/*    transition: all 1s;*/
/*}*/
.header #cyber:hover {
    padding-right: 60px;
    color: #f5237c;
    transition: all 1s;
}

.header > a {
    margin-left: 60px;
    color: #ffffff;
    float: left;
    height: 70px;
    padding: 0 20px;
    font-size: 40px;
    text-shadow: 10px 10px 50px #ffffff;
    transition: all 0.5s;
}

.header > a:hover {
    margin: 0 40px;
    transition: all 0.5s;
}

.header > a > span {
    font-size: 40px;
}

.header > form input {
    position: absolute;
    top: 20px;
    right: 79px;
    height: 60px;
    width: 340px;
    /*margin-left: 50px;*/
    border: 3px solid #ff5edb;
    padding-left: 20px;
    border-radius: 10px 0 0 10px;
    font-size: 20px;
    color: #616161;
    box-shadow: 0 0 40px #ff5edb;
    outline: none;
}

.header > form button {
    position: absolute;
    top: 20px;
    right: 20px;
    height: 60px;
    width: 60px;
    border: 3px solid #ff5edb;
    text-align: center;
    line-height: 50px;
    border-radius: 0 10px 10px 0;
    font-size: 25px;
    color: #ff5edb;
    background-color: transparent;
    box-shadow: 0 0 40px #ff5edb;
}

.header > form button:hover {
    background-color: #ffffff;
    transition: background-color 1s;
}

.whole {
    overflow: hidden;
    margin: 0 auto;
    width: 100%;
    /*width: 1450px;*/
}

.whole > div {
    margin: 0 auto;
    margin-bottom: 200px;
    width: 1450px;
}

.whole .nav {
    position: relative;
    margin-top: 125px;
    height: 800px;

}

.nav span {
    font-size: 120px;
    color: #e0e0e0;
    font-weight: 400;

}

.nav .pre {
    position: absolute;
    top: 50%;
    margin-top: -40px;
    left: 30px;
}

.nav .next {
    position: absolute;
    top: 50%;
    margin-top: -40px;
    right: 30px;
}

.nav img {
    width: 100%;
    height: 100%;
}

.whole .introduction, .whole.game.introduction {
    padding: 50px 0;
    height: 500px;
    width: 100%;
    background-color: #0e0f25;
    margin-bottom: 200px;

}

.whole .introduction > div, .whole.game.introduction > div {

    margin: 0 auto;
    height: 450px;
    width: 1450px;
    font-size: 40px;
    color: #ffffff;
}

.movie {
    border-top: #ff5edb solid 3px;
    border-bottom: #ff5edb solid 3px;
    height: 800px;
    text-align: center;
}

.movie > div {
    float: left;

}

.movie .left {
    width: 600px;
    font-size: 30px;

    margin-top: 50px;
    padding: 100px 0;

}

.movie .left > div:first-child {
    font-size: 50px;
}

.movie .left > div {
    margin-bottom: 40px;
    width: 100%;
}

.movie .middle {
    padding: 200px 0;
    margin: 0 80px;
}

.movie .middle > div {
    height: 70px;
    width: 170px;
    color: #551A8B;
    /*font-family: eng;*/

    line-height: 70px;
    text-align: center;
    background-color: #ff5edb;
    margin-bottom: 80px;
    font-size: 40px;
    border-radius: 10px;
}

.movie .middle > div > a {
    color: #551A8B;
}

.movie .middle > div:hover {
    background-image: linear-gradient(to top, #c71d6f 0%, #d09693 100%);
}

.movie .right {
    height: 100%;
    width: 500px;
    border: 5px solid #ff5edb;

    box-shadow: #ff5edb 0 0 30px;
}

.movie .right > img {
    height: 100%;
    width: 100%;
}

.movie .right > a > img {
    height: 100%;
    width: 100%;
}

.music {
    overflow: hidden;
    border-top: #ff5edb solid 3px;
    border-bottom: #ff5edb solid 3px;
}

.music .title {
    width: 100%;
    height: 80px;
    line-height: 80px;
    text-align: center;
    font-size: 60px;
}

.music .content > div {
    float: left;
    margin-right: 2px;
}

/*.music .content >div>div,.music .content >div>a{*/
/*    margin: 0 10px;*/
/*}*/
.content {
    color: #060205;
    font-size: 30px;
    text-align: center;
    margin-top: 40px;
}

.content > div .middle {

    height: 360px;
    width: 360px;
    border: 4px solid #ff5edb;
    box-shadow: #ff5edb 0 0 30px;
    margin: 20px 0;
}

.content > div .middle img {
    width: 100%;
    height: 100%;
}

.content > div .up {
    margin: 0 auto;
    height: 60px;
    width: 80%;
    background-color: #ff5edb;
    line-height: 60px;

    /*margin-right: 10px;*/
}

.content > div > a > span {
    display: block;
    font-size: 50px !important;
    margin-bottom: 60px;
    color: #ff5edb;
    transition: color 0.5s;

}

.content > div > a:hover > span {
    color: white;
    transition: all 0.5s;
}

/*.content >div .down>span{*/
/*    !*margin-bottom: 80px;*!*/

/*}*/
.whole .game {
    position: relative;
    margin-top: 100px;
    margin-bottom: 40px;

    /*border: 10px solid #ff5edb;*/
    /*box-shadow: #ff5edb 0 0 30px;*/
}

.game > img {
    height: 100%;
    width: 100%;
}

/*.game span{*/
/*    z-index:1;*/
/*    position: absolute;*/
/*    bottom: 60px;*/
/*    left: 60px;*/
/*    font-size: 100px;*/
/*}*/
/*.game span:hover{*/
/*    cursor: pointer;*/
/*}*/
.game video {
    /*display: none;*/
    height: 100%;
    width: 100%;
}

.game span:hover video {
    display: block;
}

.whole .introduction > div .pink {
    font-family: eng, ruixian;


}

.picture > div {

    overflow: hidden;
    width: 100%;
    /*height: 800px;*/
    margin: 30px 0;
    /*border: 5px solid #ff5edb;*/
    /*box-shadow: 0 0 20px;*/
}

.picture > div img {
    width: 100%;
    height: 100%;
}

.picture > div > div {

    float: left;
    width: 600px;
    height: 1200px;
    margin: 0 60px;
}

.picture > div > div img {
    width: 100%;
    height: 100%;
}

.foot {
    width: 100%;
    height: 120px;
    margin: 0 auto;
    background-color: #0e0f25;
}

.foot a span {
    font-size: 80px !important;
    line-height: 120px;
    color: #ff5edb;
    text-shadow: #ff5edb 0 0 40px;
    margin: 0 50px;
}

.foot span {
    font-size: 50px;
    color: #ffffff;
    text-shadow: 0 0 30px #ffffff;
}
