@font-face {
    font-family: 'iconfont';
    src: url('../iconfont/iconfont.ttf?t=1635858700112') format('truetype');
}

@font-face {
    font-family: 'cyberpunk';
    src: url('../source/fonts/Cyberpunk-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'ruixian';
    src: url('../source/fonts/RuiZiRuiXianNuFangHeiJian1-0-1.ttf');
}

@font-face {
    font-family: 'eng';
    src: url('../source/fonts/Corna-3.ttf');
}

.iconfont {
    font-family: "iconfont" !important;
    /*font-size: 16px;*/
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;

}

body {
    font-family: ruixian !important;
    /*font-weight: 600 !important;*/
    /*background-color: #0e0f25;*/
    background: url("../source/images/cyber/Cyberpunk (3).png") no-repeat fixed;
    background-size: 100% 100%;
    text-align: center;

}

.white {
    color: #ffffff;
    text-shadow: 0 0 30px;
}

.pink {
    color: #ff5edb;
    text-shadow: 0 0 30px;
}

#totop {
    height: 60px;
    width: 60px;
    position: fixed;
    bottom: 80px;
    right: 80px;
    color: white;
    font-size: 60px;
    background-color: transparent;
    border-radius: 5px;
}

#totop a {
    text-decoration: none;
    color: white;
}

.header {
    z-index: 1;
    position: fixed;
    width: 2025px;
    margin: 0 auto;
    top: 0;
    left: 0;
    height: 100px;
    background: #0e0f25;
    line-height: 100px;

}

.whole form input {
    position: absolute;
    top: 400px;
    right: 42%;
    /*margin-right: 200px;*/
    height: 60px;
    width: 340px;
    /*margin-left: 50px;*/
    border: 3px solid #ff5edb;
    padding-left: 20px;
    border-radius: 10px 0 0 10px;
    font-size: 30px;
    font-family: ruixian;
    font-weight: 500;
    color: #616161;
    box-shadow: 0 0 40px #ff5edb;
    outline: none;
}

.whole form button {
    position: absolute;
    top: 400px;
    right: 39%;
    /*margin-left: 140px;*/
    height: 60px;
    width: 60px;
    border: 3px solid #ff5edb;
    text-align: center;
    line-height: 50px;
    border-radius: 0 10px 10px 0;
    font-size: 25px;
    color: #ff5edb;
    background-color: transparent;
    box-shadow: 0 0 40px #ff5edb;
}

.whole form button:hover {
    background-color: #ffffff;
    transition: background-color 1s;
}

.header #cyber {
    position: absolute;
    top: 0;
    left: 160px;
    color: #0e0f25;
    height: 100px;
    width: 200px;
    text-align: center;
    font-size: 35px;
}

.header > span {
    width: 50px;
    height: 100px;
    margin-left: 100px;
    float: left;
    color: #f5237c;
    font-size: 60px;
    margin-right: 150px;
    transition: width 0.5s;
}

/*.header >span:hover .header #cyber{*/
/*    padding-right: 60px;*/
/*    color: #ffffff;*/
/*    transition: all 1s;*/
/*}*/
.header #cyber:hover {
    padding-right: 60px;
    color: #f5237c;
    transition: all 1s;
}

.header > a {
    margin-left: 60px;
    color: #ffffff;
    float: left;
    height: 70px;
    padding: 0 20px;
    font-size: 40px;
    text-shadow: 10px 10px 50px #ffffff;
    transition: all 0.5s;
}

.header > a:hover {
    margin: 0 40px;
    transition: all 0.5s;
}

.header > a > span {
    font-size: 40px;
}

.header > form input {
    position: absolute;
    top: 20px;
    right: 79px;
    height: 60px;
    width: 340px;
    /*margin-left: 50px;*/
    border: 3px solid #ff5edb;
    padding-left: 20px;
    border-radius: 10px 0 0 10px;
    font-size: 20px;
    color: #616161;
    box-shadow: 0 0 40px #ff5edb;
    outline: none;
}

.header > form button {
    position: absolute;
    top: 20px;
    right: 20px;
    height: 60px;
    width: 60px;
    border: 3px solid #ff5edb;
    text-align: center;
    line-height: 50px;
    border-radius: 0 10px 10px 0;
    font-size: 25px;
    color: #ff5edb;
    background-color: transparent;
    box-shadow: 0 0 40px #ff5edb;
}

.header > form button:hover {
    background-color: #ffffff;
    transition: background-color 1s;
}

.whole {
    overflow: hidden;
    margin: 0 auto;
    width: 100%;
    /*width: 1450px;*/
}

.whole > div {
    margin: 0 auto;
    margin-bottom: 200px;
    width: 1450px;
}


.whole .introduction {

    padding: 50px 0;
    height: 500px;
    width: 100%;
    background-color: #0e0f25;
    margin-bottom: 200px;

}

.whole .introduction > div {

    margin: 0 auto;
    height: 450px;
    width: 1450px;
    font-size: 40px;
    color: #ffffff;
}

.movie {
    border-top: #ff5edb solid 3px;
    border-bottom: #ff5edb solid 3px;
    height: 800px;
    text-align: center;
}

.movie > div {
    float: left;

}

.movie .left {
    width: 800px;
    font-size: 30px;

    margin: 50px 50px 0 50px;
    padding: 100px 0;

}

.movie .left > div:first-child {
    font-size: 50px;
}

.movie .left > div {
    margin-bottom: 50px;
    width: 100%;
}

.movie .right {
    height: 100%;
    width: 500px;
    border: 5px solid #ff5edb;
    margin-left: 40px;
    box-shadow: #ff5edb 0 0 30px;
}

.movie .right > img {
    height: 100%;
    width: 100%;
}

.movie .right > a > img {
    height: 100%;
    width: 100%;
}

.whole .introduction > div .pink {
    font-family: eng, ruixian;

}

.foot {
    width: 100%;
    height: 120px;
    margin: 0 auto;
    background-color: #0e0f25;
}

.foot a span {
    font-size: 80px !important;
    line-height: 120px;
    color: #ff5edb;
    text-shadow: #ff5edb 0 0 40px;
    margin: 0 50px;
}

.foot span {
    font-size: 50px;
    color: #ffffff;
    text-shadow: 0 0 30px #ffffff;
}
